.button {
    size: 25px;
    color: white;
    background-color: red;
    text-align: center;
    padding: 12px;
    font-size: 16;
    border: grey;
    border-radius: 5px;
    margin: 12px;
    width: 100px;
}

button:hover {
    color: red;
    opacity: 0.6;
}

.loginSection{
    margin: 20px;
    padding: 5px;
}