.button {
    size: 12px;
    color: white;
    background-color: brown;
    text-align: center;
    padding: 5px;
    font-size: 10px;
    border: grey;
    border-radius: 5px;
    margin: 8px;
    width: 25px;
}

button:hover {
    color: red;
    opacity: 0.6;
}

.login-section{
    font-size: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    margin: 20px;
    padding: 5px;
}