<!DOCTYPE html>

<!-- make a form for users needing a new account -->

<h1> What Cow are You?</h1>
<div class="signUpForm">
    <section class="signUpSection">
        <label for="username">Username: </label>
        <input id="username" type="text" [formControl]="username">
        <br />
    </section>

    <section class="signUpSection">
        <label for="password">Password: </label>
        <input id="password" type="text" [formControl]="password">
        <br />
    </section>

    <section class="signUpSection">
        <label for="cowName">Cow Name: </label>
        <input id="cowName" type="text" [formControl]="cowName">
        <br />
    </section>
</div>

<div>
    <button class="button" (click)='onSubmit'> Submit </button>
</div>