/* styles for the sign up section */

.signUpForm {
    align-self: center;
}

.signUpSection {
    margin: 4em;
    padding: 2em;
    border: 2em;
    border-color: brown;
}

.button {
    color: brown;
    text-align: center;
    border-radius: 18%;
}