<!DOCTYPE html>
<hr class="divider">
    <div class="button-shelf">
        <!--The positioning is competely incorrect, a tutorial
        is going to be needed. Current idea is to use a display:flex; 
        tag to try to contain it all-->
        <p class="divider-text">Cow Farts at Critical Levels in California</p>
        <!--Needs to be on the right hand side-->
        <app-login-buttons></app-login-buttons>
    </div>
<hr class="divider">

<!--Article code will go here-->
<app-article-widget></app-article-widget>