.divider {
    color: rgb(161, 50, 50);
    /* This needed to make it 
    go the full page width */
    width: 100%; 
    border-style: solid;
}

.divider-text {
    font-size: 10px;
    font-style: italic;
    font-family: 'Courier New', Courier, monospace;
}